#header {
}

#section {  
}

#footer {
}

#chart_container {
  position: relative;
  margin-top: 20px;
}
#chart {
  position: absolute;
  left: 30px;
}
#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
}
#y_axis > svg {  
  padding-bottom: 20px;
}

#controls  {
  margin: 30px;
}

#time_ranges {
  float: left;
  margin-right: 30px;
}
